<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="flex justify-center relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
          <img
            alt="logo de empresa de cancha"
            src="../../img/logoemp.webp"
            class="absolute h-80 w-80"
          />
        </div>
  
        <div class="lg:py-24">
          <h2 class="text-3xl font-bold text-green-600 sm:text-4xl">Busca tu local de canchas</h2>
  
          <p class="mt-4 text-gray-900">
            Aqui puedes encontrar los locales de canchas que estan cercanos a tu colonia, o los 
            demás campos que hay en tegucigalpa.
          </p>
  
          <a
            href="#"
            class="mt-8 inline-block rounded bg-green-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400"
          >
            Ver Empresas
          </a>
        </div>
      </div>
    </div>
  </section>