<section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div class="flex justify-center relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
          <img
            alt="logo del horario"
            src="../../img/logohora.png"
            class="absolute h-80 w-80"
          />
        </div>
  
        <div class="lg:py-24">
          <h2 class="text-3xl font-bold text-green-600 sm:text-4xl">Tendras horarios para reservar</h2>
  
          <p class="mt-4 text-gray-900">
            Aqui puedes encontrar los distintos horarios en los cuales podras ver 
            cual de todos ellos seran más accesibles para ti y tu equipo.
          </p>
        </div>
      </div>
    </div>
  </section>